# Ignore everything
/*
!.gitignore
!README.md
!/system/
!/themes/

/system/*
!/system/expressionengine/

/system/expressionengine/*
!/system/expressionengine/third_party/

/system/expressionengine/third_party/*
!/system/expressionengine/third_party/content_elements
!/system/expressionengine/third_party/embed_video/
!/system/expressionengine/third_party/files/
!/system/expressionengine/third_party/picture/
!/system/expressionengine/third_party/quote/
!/system/expressionengine/third_party/hyperlink/
!/system/expressionengine/third_party/link/
!/system/expressionengine/third_party/promotions/
!/system/expressionengine/third_party/uploader/

/themes/*
!/themes/third_party/

/themes/third_party/*
!/themes/third_party/content_elements
!/themes/third_party/embed_video/
!/themes/third_party/files/
!/themes/third_party/picture/
!/themes/third_party/quote/
!/themes/third_party/hyperlink/
!/themes/third_party/link/
!/themes/third_party/promotions/
!/themes/third_party/uploader/